<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <style>
      body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
      }

      .container {
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: lightgray;
        max-width: 500px;
        min-height: 15em;
        padding: 20px;
      }

      #googlepay-container {
        flex-grow: 1;
      }
    </style>

    <!-- Include Google SDK Script -->
    <script src="https://pay.google.com/gp/p/js/pay.js"></script>
    <!-- Include PayPal SDK Script with components=googlepay for Custom Googlepay Component-->
    <script
      src="https://www.paypal.com/sdk/js?components=googlepay&client-id=<%= clientId %>&merchant-id=<%= merchantId %>"
      data-client-token="<%= clientToken %>" data-partner-attribution-id="GOOGLEPAY"
    ></script>

    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
    crossorigin="anonymous"
  />

  <link rel=stylesheet href=https://cdn.jsdelivr.net/npm/pretty-print-json@1.4/dist/css/pretty-print-json.css>
  <script src=https://cdn.jsdelivr.net/npm/pretty-print-json@1.3/dist/pretty-print-json.min.js></script>

  


  </head>
  <body>
    <main>
      <section> 
        <h4>Direct Merchant Integration</h4>
        <div id="container"></div>
      </section>
      
      <!-- Result Modal -->
      <div id="resultModal" class="modal">
        <span onclick="document.getElementById('resultModal').style.display='none'" class="close" title="Close Modal">&times;</span>
        <form class="modal-content">
          <div class="modalContainer">
            <span class="modalHeader">Capture Order Result</span>
            <pre id=result class=json-container></pre>
          </div>
        </form>
      </div>
            
    </main>

    <script>
      document.addEventListener("DOMContentLoaded", (event) => {
        if (google && paypal.Googlepay) {
          onGooglePayLoaded().catch(console.log);
        }
      });
    </script>
    <script src="./modal.js"></script>
    <script src="./app.js"></script>
    <link rel=stylesheet href=style.css>

  </body>
</html>

